:host {
  .jumbotron {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    text-align: center;
    position: relative;
    height: 100vh;
    background: url("/assets/images/background.png") center no-repeat;
    background-size: cover;
    padding: 15px 0 0 0;
  }

  .bg-trans {
    color: #fff;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    max-width: 1340px;
    margin: 0 auto !important;
    margin-top: 10px !important;
  }

  img.shield {
    width: 4rem !important;
    height: 4rem !important;
  }
}
